
body {
  width: 1000px;
  margin: 0 auto;
  font-family: Verdana;
  color: navy;
  background: #fff url(obrazki/tlo.png) top left repeat-x;
}

h1 {
  text-align: center;
  color: DarkOrchid ;
}

a {
  color: black;
}

a:hover {
  color: gray;
}

